<div class="card">
  <% @articles.each do |article| %>
    <div class="card-header">
      <img class="card-img-top" src="<%= article.image %>" alt='article_image' width="80%">
    </div>
    <div class="card-block">
      <h4 class='card-title'><a href="/articles/<%= article.id %>" id="articleshow"><%= article.title %></a></h4>
      <p class='card-text'><%= article.body %></p>
      <a href="#" class="btn btn-primary">Article</a>
    </div>
  <% end %>
</div>
