<% @articles.each do |article| %>
<div>
  <img src="<%= article.image %>" alt="image" width="150px">
  <h3><a href="/articles/<%= article.id %>"><%= article.title %></a></h3>
  <p><%= article.body %></p>
</div>
<% end %>
