<form action="/articles/<%= @article.id %>" method="POST">
  <div>
    <label>Title</label>
    <input type="text" name="title" id="articletitle" placeholder="Enter a title" value="<%= @article.title %>">
  </div>
  <div>
    <label>Body</label>
    <textarea name="body" rows="8" cols="40" placeholder="The body of the post" id="articlebody"><%= @article.body %></textarea>
  </div>
  <div>
    <label>Image</label>
    <input type="text" name="image" placeholder="Enter a title" id="articleimage" value="<%= @article.image %>">
  </div>
  <div>
    <input type="submit" value="Save Article" id="submitbtn">
  </div>
  <% if(@article.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
