<div id="nav_bar">
  <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="/posts">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/posts/new">New Post</a> -->
  <!-- </li> -->
  <li class="nav-item">
    <a class="nav-link" href="#">Asteroids</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Articles</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="/api/neos">NEO</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">API</a>
  </li> -->
</ul>
</div>
