@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  background-color: black;
  font-family: Playfair Display;
}

#nav_bar {
  padding: 20px;
}

/*-------------------HOME PAGE---------------*/

#background_image {
  text-align: center;
}

#background_image h2 {
  color: white;
}

#explanation {
  text-decoration: none;
  width: 80%;
  color: white;
  padding-left: 23%;
  text-align: justify;
  line-height: 25px;
  word-spacing: 3px;
}

/*-------------------ARTICLES PAGE-----------------*/

.card {
  width: 50%;
  margin-left: 25%;
}
.card-img-top {
  width: 100%;
}

/*------------------SHOW ARTICLE --------------------*/

#showimage {
  width: 150px;
}
